# Notes:
#   - Minimal appveyor.yml file is an empty file. All sections are optional.
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.

#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 1.0.{build}

# you can use {branch} name in version format too
# version: 1.0.{build}-{branch}

# Maximum number of concurrent jobs for the project
max_jobs: 1

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Build worker image (VM template)
image: Visual Studio 2022

matrix:
  fast_finish: true     # set this flag to immediately finish build once one of the jobs fails.

platform:
  - Win32
  - x64
  
# build Configuration, i.e. Debug, Release, etc.
configuration: 
  - Debug
  - Release

# to add several configurations to build matrix:
#configuration:
#  - Debug
#  - Release

# Build settings, not to be confused with "before_build" and "after_build".
# "project" is relative to the original build directory and not influenced by directory changes in "before_build".
build:
  parallel: true                  # enable MSBuild parallel builds
  project: Engine/porting/Win32/OSSGameLibraryWin32.sln      # path to Visual Studio solution or project

  # MSBuild verbosity level
  verbosity: normal
  
after_build:
  - ps: |
      if ($env:PLATFORM -eq "Win32"){
        $env:OUTPATH = "Output"
      }else{
         $env:OUTPATH = "x64"
      }
  - 7z a %PLATFORM%_%CONFIGURATION%.zip %APPVEYOR_BUILD_FOLDER%\Engine\porting\Win32\%OUTPATH%\%CONFIGURATION%\*.dll
  - 7z a %PLATFORM%_%CONFIGURATION%.zip %APPVEYOR_BUILD_FOLDER%\Engine\porting\Win32\%OUTPATH%\%CONFIGURATION%\SampleProject.exe
#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
  - path: $(PLATFORM)_$(CONFIGURATION).zip
